<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDirectory" value="logs/${shortdate}"/>
    <targets>
        <target 
            name="logfileDetailed"
            xsi:type="File"
            fileName="${logDirectory}/detailedlogs.txt"
            layout="${longdate} | ${level}: ${callsite} | ${message}" />
        <target
            name="logfileError"
            xsi:type="File"
            fileName="${logDirectory}/errorlogs.txt"
            layout="${longdate} | ${level}: ${callsite} | ${message}" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfileDetailed" />
        <logger name="*" minlevel="Error" writeTo="logfileError" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>